<!-- templates/partials/footer.html -->
<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-section">
        <h3>Main</h3>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Social</h3>
        <ul>
          <li><a href="https://github.com/Ashok8601">GitHub</a></li>
          <li><a href="https://www.instagram.com/mr_syist?igsh=eGM4N2h1dXZxdzMw">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Syist Group. All rights reserved.</p>
    </div>
  </div>
</footer>
