<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %} Default Title {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'home.css' %}" />
  {% block head_extra%}{% endblock %}
</head>
<body>

  <!-- Common Header -->
  {% include 'partial/header.html' %}

  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Common Footer -->
  {% include 'partial/footer.html' %}

  <!-- JS Scripts -->
  <script>
    function toggleMenu() {
      const sidebar = document.getElementById("sidebar");
      sidebar.classList.toggle("active");
    }

    const images = document.querySelectorAll('.slider-container img');
    let current = 0;

    function showNextImage() {
      images[current].classList.remove('active');
      current = (current + 1) % images.length;
      images[current].classList.add('active');
    }

    setInterval(showNextImage, 500);
  </script>

</body>
</html>
